{
    "hub-siu-registry-secret.json": {
        "url": "hub.siu.edu.ar:5005",
        "username": "Id de token de accesso o usuario de hub.siu.edu.ar",
        "password": "Clave del token de accesso o del usuario de hub.siu.edu.ar"
    },
    "gitlab-siu-registry-secret.json": {
        "url": "gitlab.siu.edu.ar:5005",
        "username": "Id de token de accesso o usuario de gitlab.siu.edu.ar",
        "password": "Clave del token de accesso o del usuario de gitlab.siu.edu.ar"
    }
}